# node modules
node_modules/
/*.tgz

# vscode
.devcontainer/
.vscode/
.vscode-ctags

# Typescript
src/**/*.ts
!src/**/*.d.ts

# Github and Git
.github/
.git*

# Wireguard
addons/wg_go/wireguard-go

# node-gyp
build/**/*

# Project
configsExamples/
.vscode-ctags*
*.addrs.json