# node modules
node_modules/
/*.tgz

# Builder dir
build/

# Typescript
src/**/*_test.*
src/**/*.ts
!src/**/*.d.ts

# IDEs
.devcontainer/
.vscode-ctags
.vscode/
.zed/

# Github and Git
.github/
.git*

# Project
.vscode-ctags*
*.addrs.json
