# node modules
node_modules/
/*.tgz

# Typescript
src/**/*_test.*
src/**/*.ts
!src/**/*.d.ts

# vscode
.devcontainer/
.vscode/
.vscode-ctags

# Github and Git
.github/
.git*

# node-gyp
build/**/*

# Project
.vscode-ctags*
*.addrs.json